/* COLORS */

$c-light-grey: #d6d6d6;
$c-light-yellow: #ffee32;
$c-yellow: #ffd100;
$c-dark-grey: #333533;
$c-dark: #202020;

$c-text: $c-dark;
$c-link: $c-dark;
$c-link-hover: $c-yellow;

/* FONTS FAMILY */

$f-family-text: 'Open Sans', sans-serif;



/* Font Sizes */
//$w-light: 300;
//$w-medium: 500;
$w-semibold: 600;
//$w-bold: 700;
//$w-extrabold: 800;

$transition: 0.3s ease-out;
//


/* FUNCTIONS */

@function rem($px) {
  @return $px * 1px;
}